img{
float:left;
padding: 5px 20px;
}

span.required{
	color: red;
}

.masthead{
background-color:#01124B;
color:#FFFFFF;
text-align: center;
padding: 10px;
}

body{
background-color:#d5d5d5;
}

.footer{
background-color:#00124B;
color:#ffffff;
text-align:center;
}

.body2{
background-color:#ffffff;
color:#000000;
margin:0;
padding: 1em 2em;
}

/* Table Design */

table {
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 20px;
	width: 100%;
}

table, th, td {
	border: 0px;
}

th, td {
	padding: 10px 5px;
}

th {
	background-color: #01124B;
	color: #fff;
	font-size: 1.1em;
	font-weight: normal;
	text-align: left;
}

tbody tr:nth-of-type(even) {
	background-color: #d5d5d5;
}

table.sortable thead tr th, table.tablesorter tfoot tr th {
	padding: 10px 5px;
}

table.sortable thead tr .header {
	cursor: pointer;
}

table.sortable thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
	background-repeat: no-repeat;
	background-position: center right;
}

table.sortable thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
	background-repeat: no-repeat;
	background-position: center right;
}

table.sortable thead tr .headerSortDown, table.sortable thead tr .headerSortUp {
	background-color: #337ab7;;
}

div.tablesorterPager span {
	padding: 0 5px 0 5px;
}

div.tablesorterPager input.prev {
	width: auto;
	margin-right: 10px;
}

div.tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}

div.tablesorterPager input {
	width: 50px;
	border: 1px solid #330000;
	text-align: center;
}

/* Notifications */
div.error, 
div.info, 
div.success, 
div.warning {
	margin-top: 5px;
	padding: 5px;
}

div.error {
	background: #ffaaaa;
}

div.info {
	background: #ddddff;
}

div.success {
	background: #ddffdd;
}

div.warning {
	background: #ECEC61;
}