img{
float:left;
padding: 5px 20px;
}

.masthead{
background-color:#01124B;
color:#FFFFFF;
text-align: center;
padding: 10px;
}

body{
background-color:#d5d5d5;
}

.footer{
background-color:#00124B;
color:#ffffff;
text-align:center;
}

.body2{
background-color:#ffffff;
color:#000000;
margin:0;
padding: 5px 10px;
}