body {
  padding-top: 20px;
}

.footer {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #2C76C7;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.nav-justified > .active > a,
.nav-justified > .active > a:focus {
  background-color: #194E88;
}

.nav-justified a:hover {
  background-color: #000;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

